body {
    background-color: #f8f9fa;
}

.navbar {
    background-color: #343a40;
}

.navbar-brand, .navbar-nav .nav-link {
    color: #ffffff !important;
}

.nav-item{
    margin-left: 30px;
}

.main {
    max-width: 800px;
    margin: 50px auto;
    text-align: center;
}

.posts {
    margin-top: 20px;
}

.post {
    background-color: #ffffff;
    border: 1px solid #ced4da;
    border-radius: 8px;
    padding: 15px;
    margin-bottom: 15px;
    transition: transform 0.3s ease-in-out;
}

.post:hover {
    transform: scale(1.03);
}

.post h3 {
    color: #007bff;
}

.post p {
    color: #495057;
}
