* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.nav-item{
    margin-right: 30px;
}
.navbar-brand{
    margin-left: 20px;
}
.avatar{
    width: 200px;
    height: 300px;
}
.post {
    border-bottom: 1px solid #dee2e6;
    padding: 15px 0;
}
.edit-profile-btn{
    margin-top: 20px;
}
.edit-profile-form h3{
    margin-top: 20px;
}